<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Справочник службы быта</h1>
        @*отображаем приветствие*@
        <p class="lead">@ViewBag.Message Вы попали на страницу управления службой быта. Эта система позволяет вам быстро и удобно находить необходимую информацию о исполнителях услуг.</p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="tablesTitle">
            <h2 id="tablesTitle">Таблицы</h2>
            <p>Здесь хранятся таблицы к базе данных, чтобы можно было проще управлять ими (создавать/редактировать/удалять записи - CRUD).</p>
            <p><a class="btn btn-outline-dark" href="../Clients/Index">Клиенты &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Employees/Index">Работники &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Requests/Index">Заявки &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Services/Index">Услуги &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../ServiceCategories/Index">Категории услуг &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="selectionsTitle">
            <h2 id="selectionsTitle">Выборки данных</h2>
            <p>Здесь хранятся функции по селекции данных.</p>
            <p><a class="btn btn-outline-dark" href="../Selections/Index_1">Задание 2.1 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Selections/Index_2">Задание 2.2 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Selections/Index_3">Задание 2.3 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Selections/Index_4">Задание 2.4 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Selections/Index_5">Задание 2.5 &raquo;</a></p>
        </section>
    </div>
</main>