<main>
    @if (ViewBag.userRole == 1)
    {
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="aspnetTitle">Админ панель</h1>
            <p class="lead">@ViewBag.Message Вы попали на страницу управления пользователей этого сайта.</p>
        </section>
        <div class="row">
            <section class="col-md-4" aria-labelledby="tablesTitle">
                <h2 id="tablesTitle">Таблицы пользователей</h2>
                <p>Здесь хранятся таблицы к базе данных пользователей, чтобы можно было проще управлять ими (создавать/редактировать/удалять записи - CRUD).</p>
                <p><a class="btn btn-outline-dark" href="../Users/Index">Пользователи сайта &raquo;</a></p>
                <p><a class="btn btn-outline-dark" href="../Roles/Index">Роли &raquo;</a></p>
            </section>
        </div>
    }
    else
    {
        <div>
            <p class="lead" style="color: red;">@ViewBag.Message</p>
        </div>
    }
</main> 